

  .wrapper {
    
    background-image: url('https://stmed.net/sites/default/files/it%27s-always-sunny-in-philadelphia-wallpapers-31597-6201980.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
   overflow: auto;
    padding-bottom: 50px; 
    background-size: 100%;
  }
   